$dark-gray: #1f1f1f;
$very-light-gray: #f4f4f4;
$white: #fff;
$black: #050505;

:root {
  --foreground: #2d2d2d;
  --medium-gray: #3a3a3a;
  --light-gray: #757575;
  --off-white: #e9e9e9;
  --purple: #a445ed;
  --red: #ff5252;
  --white: #{$white};
  --dark-gray: #{$dark-gray};
  --secondary-background: #{$very-light-gray};
  --background: #{$white};
}

.dark-mode {
  --secondary-background: #{$dark-gray};
  --foreground: #{$white};
  --background: #{$black};
}
