@use "functions" as *;

$black-500: #3a3a3a;
$black-600: #2d2d2d;
$black-700: #1f1f1f;
$black-800: #050505;
$black-900: #000000;

$gray-100: #e9e9e9;
$gray-500: #757575;

$white-100: #f4f4f4;
$white-900: #ffffff;

$red-500: #ff5252;
$violet-600: #a445ed;

$light-theme-shadow: shadow($black-900, -0.9);
$dark-theme-shadow: shadow($violet-600);

:root {
  --background: #{$white-900};
  --contrast-separators: #{$gray-100};
  --contrast: #{$violet-600};
  --error: #{$red-500};
  --foreground: #{$black-600};
  --secondary-background: #{$white-100};
  --secondary-text: #{$gray-500};
  --separators: #{$gray-100};
  --shadow: #{$light-theme-shadow};
  --white: #{$white-900};
}

.dark-mode {
  --background: #{$black-800};
  --contrast-separators: #{$gray-100};
  --foreground: #{$white-900};
  --secondary-background: #{$black-700};
  --separators: #{$black-500};
  --shadow: #{$dark-theme-shadow};
}
