- 
    const buttons = [
        {
            name: 'Sans Serif',
            font: "'Inter', sans-serif"
        },
        {
            name: 'Serif',
            font: "'Lora', serif"
        },
        {
            name: 'Mono',
            font: "'Inconsolata', monospace"
        }
    ]

.dropdown.dropdown--open(aria-haspopup="true" aria-expanded="false")
    button.dropdown__button(aria-controls="dropdown-menu")
        span Sans Serif
        i.arrow-down-icon
    ul.dropdown__menu#dropdown-menu(role="menu" aria-hidden="true")
        each item in buttons
            li.dropdown__menu-item
                button(style="font-family: " + item.font + ";" role="menuitem" data-font=item.font)
                    | #{item.name}
