header.d-flex.align-items-center.justify-content-between.mb-25 
    i.logo-icon
    .d-flex.align-items-center.gap-16
        include dropdown.pug
        span.vertical-separator
        include switch.pug