div.results
    header.results__header
        .results__word
            h2.results__title Keyboard 
            p.results__pronunciation 
                span.sr-only Pronunciation: 
                span.results__pronunciation-label /ˈoʊ.pən/

        .results__controls
            button.results__play-button

    .results__details
        p.results__part-of-speech
            strong.sr-only Part of speech:
            span.results__part-of-speech-value noun
            span.separator-line 

        h3.results__subtitle Meaning:

        ul.results__list--meaning
            li.results__item A set of keys used to operate a typewriter, computer etc.
            li.results__item A component of many instruments including the piano, organ, and harpsichord consisting of usually black and white keys that cause different tones to be produced when struck.
            li.results__item A device with keys of a musical keyboard, used to control electronic sound-producing devices which may be built into or separate from the keyboard device.

        div.results__alternatives
            h3.results__subtitle Synonyms:
            ul.results__list--alternatives
                li.results__item electronic keyboard,
                li.results__item electronic keyboard
