template#results-header
    header.results__header
        div
            h2.fs-xxl.mb-10#title 
            p.fs-xl.mb-0.contrast-text
                span.sr-only Pronunciation: 
                span#IPA

        div
            button.results__play-button#button(aria-label="Play pronunciation")

template#results-meanings
    section.results__details
        p.results__part-of-speech.font-xl.italic.fw-700
            strong.sr-only Part of speech:
            span.results__part-of-speech-value.fs-xl 
            span.separator-line 

        h3.secondary-text.fw-400.fs-lg Meaning:

        ul.results__list--meaning
            li.results__item.fs-md 

        div.results__alternatives
            h3.secondary-text.fw-400.fs-lg.mb-0 
            p.contrast-text.fw-700.fs-lg.mb-0

template#results-source 
    section.results__source
        span.separator-line.mb-20
        p.results__source-label.fs-sm
            strong.fw-400.secondary-text.mr-20 Source
            a.mr-10(href="" target="_blank" rel="noopener noreferrer")
            i.new-window-icon

template#results-not-found
    section.results__not-found.ta-center.mt-130 
        span.d-inline-block.fs-xxl.mb-45 🤔
        h3.fs-lg.mb-25 No Definitions Found
        p.fs-md.secondary-text Sorry pal, we couldn't find definitions for the word you were looking for. You can try the search again at later time or head to the web instead.

