.input-with-icon
    label.sr-only(for="search-input") Search for any word
    input.input-custom#search-input(type="text" placeholder="Search for any word" minlength="1" maxlength="50" pattern="^[A-Za-z]+$" aria-invalid="true")
    .icon
        i.search-icon
    p.input__error#input-error(role="alert" aria-live="assertive") Whoops, can’t be empty…