@use "../utils" as *;

.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: rem(24);

  &__logo {
    height: rem(34);
    width: rem(30);
  }

  &__settings {
    display: inline-flex;
    align-items: center;
    gap: rem(16);

    &-line {
      height: rem(32);
      width: 1px;
      background: var(--line-color);
    }
  }

  @media (min-width: 48rem) {
    padding-bottom: rem(51.2);
  }
}
