@use "../utils" as *;

.input-with-icon {
  position: relative;
  margin-bottom: 1rem;

  input {
    padding: 1.25rem 4rem 1.25rem 1.5rem;
    line-height: 1.25;
    appearance: none;
    color: #4a5568;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-size: 1.25rem;
    width: 100%;
    transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
    background-color: rgb(244, 244, 244);
    font-family: inherit;
    font-weight: 700;

    &:focus,
    &:focus-visible {
      border-color: #a445ed;
      outline: none;
    }

    &::placeholder {
      // color: #a2a6a5;
      color: rgba(var(--primary-text-color), 0.25);
      font-size: 1.25rem;
    }
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: 1rem;
    align-items: center;
    display: flex;

    svg {
      width: 1rem;
      height: 1rem;
      fill: black;
    }
  }

  .input__error {
    display: none;
    color: #ff5252;
    position: absolute;
  }

  &.input-with-icon--error {
    input {
      border-color: #ff5252;

      &:focus {
        border-color: #ff5252;
      }
    }

    .input__error {
      display: block;
    }
  }
}
