@use "../utils" as *;

.input-with-icon {
  position: relative;
  margin-bottom: 1rem;

  input {
    padding: 1.25rem 4rem 1.25rem 1.5rem;
    line-height: 1.25;
    appearance: none;
    color: var(--soft-grey);
    border: 1px solid transparent;
    border-radius: 1rem;
    font-size: 1.25rem;
    width: 100%;
    transition: all 0.3s ease;
    background-color: var(--secondary-background);
    font-family: inherit;
    font-weight: 700;

    &:focus,
    &:focus-visible {
      border-color: var(--purple);
      outline: none;
    }

    &::placeholder {
      color: rgba(var(--primary-text-color), 0.25);
      font-size: rem(20);
    }
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-right: rem(16);
    align-items: center;
    display: flex;

    svg {
      width: rem(16);
      height: rem(16);
      fill: black;
    }
  }

  .input__error {
    display: none;
    color: var(--red);
    position: absolute;
  }

  &.input-with-icon--error {
    input {
      border-color: var(--red);

      &:focus {
        border-color: var(--red);
      }
    }

    .input__error {
      display: block;
    }
  }
}
